
@model IList<Financas.Models.Movimentacao>

@Html.ActionLink("Novo Movimentacao", "Form")

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Usuario</th>
            <th>Valor</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movimentacao in Model)
        {
            <tr>
                <td>@movimentacao.Id</td>
                <td>@movimentacao.Usuario.Nome</td>
                <td>@movimentacao.Valor</td>
                <td>@movimentacao.Tipo</td>
            </tr>
        }
    </tbody>
</table>

